<% @items.each do |booking| %>
  <div class="card-product offset-3" style="height: 170px;">
    <img src=<%= cl_image_path item.photo %>>
    <div class="card-product-infos">
      <h4><%= booking.item.name %></h4>
      <h2><%= booking.item.address %></h2>

      <%= link_to edit_booking_path(booking), class: "primarybtn" do %>
          <i class="fas fa-pencil-alt"></i> Edit booking
      <% end %>

      <%= link_to edit_booking_path(booking), method: :delete, data: {confirm: "Are you sure you want to delete this booking?"}, class: "primarybtn ml-2" do %>
          <i class="fas fa-trash-alt"></i> Delete booking
      <% end %>
    </div>
  </div>
<% end %>
